*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: aquamarine;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;
    color: red;
}

.hide{
    display: none;
}

#reset_game , #new_game{
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    border-radius: 1rem;
}